<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello world</title>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>

        <span id="helloWorldText"></span>
        <script src="~/bundles/bundle.js"></script>
    </body>
</html>